# Ignore specific files
.env.docker
.env.local

# Python
__pycache__/
*.py[cod]
*.pyo

# Ignore all files with a certain extension
*.log
*.tmp
*.txt
*.csv
*.class
*.jar

# Ignore a directory and its contents
.vscode/
target/
tmp/
temp/
data/
content/

# Negate a pattern (include a specific file within an ignored directory)
!target/classes/application.properties
!target/classes/schema.sql
