    # Ignore specific files

    # Ignore all files with a certain extension
    *.log
    *.tmp
    *.txt
    *.csv
    *.class
    *.jar
    .env
    *.example
    

    # Ignore a directory and its contents
    .vscode/
    target/
    tmp/
    temp/
    data/

    # Negate a pattern (include a specific file within an ignored directory)
    !target/classes/application.properties
    !target/classes/schema.sql
    !target/generated-sources
    !target/generated-test-sources
